@media only screen and (min-width: 200px) and (max-width:576px) {

    /* navbar start */
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .nav-bar {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        margin: 0 20px;
    }
    .nav-bar h1{
        font-size: 40px;
        padding: 0;
        margin: 0;
    }
    .nav-items {
        display: flex;
        gap: 20px;
    }
    .nav-items h3 {
        font-size: 15px;
    }
    .nav-items button {
        margin-top: 7px;
    }
    /* navbar end */

    /* banner start */
    .banner-details h1 {
        font-size: 25px;
        margin:0;
    }
    .banner-details img{
        height: 25px;
        width: 25px;
    }
    .banner-details p {
        font-size: 16px;
        margin: 0;
        padding: 0 5px;
    }
    .banner-options {
        font-weight: 300;
        font-size: 20px;
    }
    .banner-options span img{
        height: 20px;
        width: 20px;
    }
    .portfolio-btn {
        height: 50px;
    }
    .prtf p {
        display: flex;
        gap: 5px;
        font-size: 16px;
    }
    .prtf {
        margin-top: 3px;
    }
    .hireme p {
        font-size: 16px;
        margin-bottom: 3px;
    }
    .banner-image {
        width: 450px;
        
    }
    .banner {
        flex-direction: column;
        align-items: center;
    }
    .details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* banner end */

    /* optional topic start */
    .topic {
        gap: 15px;
        width: 100%;
        overflow: hidden;
        height: 50px;
    }
    .topic h4 {
        font-weight: 500;
        font-size: 10px;
        width: fit-content;
    }
    .topic img {
        height: 25px;
        width: 25px;
    }
    /* optional topic end */

    /* about me section start */
    .about-me {
        width:100%;
        flex-direction: column;
        align-items: center;
    }
    .about-me h1 {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
    .about-me-text p {
        font-size: 16px;
        font-weight: 200;
        text-align: center;
        padding: 0 20px;
    }
    .about-me-star p {
        font-size: 25px;
        padding: 0;
        margin: 0;
    }
    /* about me section end */

    /* footer section start */
    footer {
        gap: 10px;
        width: 100%;
    }
    footer h1 {
        font-size: 40px;
    }
    footer h3 {
        font-size: 10px;
        font-weight: 500;
    }
    /* footer section end */
    .end {
        font-size: 16px;
        font-weight: 500;
    }
    .footer-icon img{
        height: 20px;
        width: 20px;
    }
    /* main section start */
    .main-class {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .exp-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: fit-content;
        margin-bottom: 20px;
    }
    .exp-text h1 {
        font-size: 40px;
        font-weight: 500;
        margin: 0;
    }
    .exp-text i {
        font-weight: 500;
        font-size: 16px;
    }
    .exp-description {
        font-size: 16px;
        font-weight: 300;
    }
    .exp-achivement div {
        width: 100%;
        padding: 0px;
        margin: 0;
    }
    .exp-achivement p {
        font-size: 12px;
    }
    .exp-achivement p span {
        font-size: 10px;
        font-weight: 300;
    }
    .exp-achivement h1 {
        font-size: 20px;
        font-weight: 600;
        margin: 4px;
    }
    /* main section end */

    /* Awards section start */
    #awards {
        width: 100%;
        margin: 20px 0;
        gap: 10px;
    }
    .award-card {
        width: 100%;
        margin: 0;
    }
    .award-title p {
        font-size: 16px;
        font-weight: 200;
        text-align: center;
    }
    .award-title h1 {
        font-size: 40px;
        text-align: center;
        margin: 0;
    }
    .first-half p {
        font-size: 12px;
        font-weight: 200;
    }
    .first-half h4 {
        font-size: 20px;
    }
    .second-half p {
        font-size: 12px;
        text-align: center;
        font-weight: 400;
    }
    /* Awards section end */

    /* my portfolio start */
    .my-portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .card-section {
        width: 100%;
    }
    .first-part-title h1 {
        font-size: 40px;
        text-align: center;
        padding: 0;
    }
    .portfolio-option-btn {
        gap: 20px;
    }
    .first-part-title p {
        font-size: 16px;
        font-weight: 200;
        margin: 0;
        padding-bottom: 5px;
    }
    .prtf-btn {
        font-size: 16px;
        font-weight: 300;
    }
    .card-second-part{
        flex-direction: column;
        align-items: center;
    }
    .card-second-part-texts{
        padding: 0 10px;
    }
    .card-second-part-texts i {
        font-size: 16px;
        font-weight: 500;
    }
    .card-second-part-texts h1 {
        font-size: 30px;
    }
    .text-details {
        font-size: 16px;
        font-weight: 300;
    }
    
    /* my portfolio end */

    /* contact section start */
    .contact-section{
        margin: 40px 0;
    }
    .contact-header{
        margin: 0;
        padding: 0;
    }
    .contact-header p {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }
    .contact-header h1 {
        font-size: 30px;
        margin: 0;
        padding: 0;
    }
    .contact-form {
        width: 90%;
        height: fit-content;
    }
    #form-title {
        font-size: 30px;
        margin: 0;
    }
    .form-items {
        width: 80%;
    }
    .item-title {
        font-size: 16px;
    }
    .title2 {
        width: 100%;
    }
    #attach-file {
        font-weight: 200;
        font-size: 12px;
    }
    /* contact section end*/
}